---
version: 2.1

executors:
  build-executor:
    docker:
      - image: circleci/openjdk:11.0.7-jdk-buster

orbs:
  branch-management: opennms/branch-management@2.3.0

commands:
  do-build:
    steps:
      # Restore source cache
      - restore_cache:
          keys:
            - source-v1-{{ .Branch }}-{{ .Revision }}
            - source-v1-{{ .Branch }}-
            - source-v1-

      - checkout

      # Save source cache
      - save_cache:
          key: source-v1-{{ .Branch }}-{{ .Revision }}
          paths:
            - ".git"

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "pom.xml" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: |
           mvn dependency:resolve-plugins
           mvn dependency:go-offline || true

      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}

      - run:
          name: Run the build
          command: |
            mvn -DskipTests=true -DskipITs=true install

jobs:
  build:
    executor: build-executor
    environment:
      MAVEN_OPTS: -Xmx1024m

    steps:
      - do-build

      - run:
          name: Run the tests
          command: |
            mvn -DskipTests=false -DskipITs=false verify

      - run:
          name: Save test results
          command: |
            mkdir -p ~/junit/
            find . -type f -regex ".*/target/failsafe-reports/.*xml" -exec cp {} ~/junit/ \;
            find . -type f -regex ".*/target/surefire-reports/.*xml" -exec cp {} ~/junit/ \;
          when: always

      - store_test_results:
          path: ~/junit

      - persist_to_workspace:
          root: ~/
          paths:
            - project

  merge:
    executor: build-executor
    environment:
      MAVEN_OPTS: -Xmx1024m

    steps:
      - add_ssh_keys:
          fingerprints:
            - "82:76:19:fb:6a:71:a3:c5:cf:7c:99:aa:82:45:4a:96"

      - checkout
      - branch-management/merge-branch:
          committer_email: "cicd-system@opennms.com"
          committer_name: "CI/CD System"
          from: release-1.x
          to: master

      # make sure the build passes after merge
      - do-build

      - run:
          name: "Commit Changes"
          command: |
            export GIT_MERGE_AUTOEDIT=no
            git commit -a -m "autogenerated runtime build artifacts"

      - run:
          name: "Push to Main"
          command: git push --no-verify origin master:master

  deploy:
    executor: build-executor
    steps:
      - attach_workspace:
          at: ~/

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "pom.xml" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run:
          name: Deploy the artifacts
          command: |
            mvn -s .circleci.settings.xml -DskipTests deploy

workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - merge:
          requires:
            - build
          filters:
            branches:
              only:
               - /^release-.*/
      - deploy:
          requires:
            - build
            - merge
          filters:
            branches:
              only:
               - /^release-.*/
               - /^master.*/
